body {
    background-color: #0D0D0D;
}

#desk {
    position: relative;
    background-color: rgb(93, 93, 93);
    margin: auto;
    padding: 10px;
    width: 800px;
    height: 800px;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr; 
    grid-template-rows: 3fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr;
    grid-gap: 10px;
}

.inactive {
    background-color: rgb(151, 151, 151);
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}

.red {
    border: 2px solid red;
}
